 <article class="{{post_class}}">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <header class="post-header">
                            <h2 class="post-title heading">
                                <a href="{{url}}">{{{title}}}</a>
                            </h2>
      	                    <span class="post-meta text-muted">
      		                    <time datatime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMM YYYY"}}</time>
      		                    {{#if tags}} on {{tags}}{{/if}}
      	                    </span>
                        </header>
                        
                        <section class="post-excerpt">
      	                    <p>{{excerpt}}&hellip;</p>
                        </section>
                    </div>
                </div>
            </div>
        </article>